<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<script src="/api/checkuser.php"></script>
		<script src="js/ajax.js"></script>
	</head>
	<body>
		<div id="app">
			
			<el-container id="main">
			    <el-header height="100px">
			    	<h1 style="font-size: small;">欢迎您 user</h1>
			    	<p style="font-size: small;">添加管理员帐号</p>
			    </el-header>
			    
			    <!--中间主体栏目-->
			    <el-main>
			    	<el-card class="box-card">
					  <div slot="header" class="clearfix">
					    <span>添加管理员帐号</span>
					  </div>
					  <div class="text item" id="admin_add">
					  	<p><span>*</span> 用户名： <el-input v-model="username" placeholder="请输入用户名" size="small"></el-input></p>
					  	<p><span>*</span> 密码： <el-input v-model="pwd" type="password" placeholder="请输入密码" size="small"></el-input></p>
					  	<p><span>*</span> 确认密码： <el-input v-model="pwd2" type="password" placeholder="请确认密码" size="small"></el-input></p>
					  	<p>
					  		<span>*</span> 选择用户组： 
					  		<el-select v-model="usergroup" placeholder="请选择用户组" size="small">
							    <el-option
							      v-for="item in options"
							      :key="item.value"
							      :label="item.label"
							      :value="item.value">
							    </el-option>
							</el-select>
					  	</p>
					  	<p><el-button type="primary" v-on:click="add">添加管理员</el-button></p>
					  </div>
					</el-card>
			    </el-main>
			    
			    <el-footer>
			    	&copy; code_zl_shop商铺后台系统
			    </el-footer>
			  </el-container>
			
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					options: [{
			          value: '2',
			          label: '超级无敌管理员'
			        }, {
			          value: '0',
			          label: '管理员'
			        },],
			        usergroup:'',
			        username:'',
			        pwd:'',
			        pwd2:'',
				},
				//事件处理函数对象
				methods:{
					//添加管理员的函数
					add:function(){
						//获取输入数据
						var usergroup=this.usergroup;
						var username=this.username;
						var pwd=this.pwd;
						
						//发送AJAX请求
						ajax({
							type:'post',
							url:'/api/2020admin_new_add.php',
							data:`username=${username}&pwd=${pwd}&usergroup=${usergroup}`,
							dataType:'text',
							//传一个回调函数，拿到数据以后再调用
							success:function(data){
								//将接收到的数据根据情况进行输出
								if(data=='1'){
									alert('新增成功');
									location.href="admin_list.html";
								}else{
									alert('新增失败');
								}
							}
						});
						
					}
				}
			});
		</script>
		
	</body>
</html>
