<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<script src="/api/checkuser.php"></script>
		<script src="js/ajax.js"></script>
	</head>
	<body>
		<div id="app">
			
			<el-container id="main">
			    <el-header height="100px">
			    	<h1 style="font-size: small;">欢迎您 user</h1>
			    	<p style="font-size: small;">修改订单信息</p>
			    </el-header>
			    
			    <!--中间主体栏目-->
			    <el-main>
			    	<el-card class="box-card">
					  <div slot="header" class="clearfix">
					    <span>修改订单信息</span>
					  </div>
					  <div class="text item" id="admin_add" style="margin-left: 40%;">
					  	<span>地址：</span>
					  	<p><span>*</span> 省： <el-input v-model="receiver_province" placeholder="输入省" size="small"></el-input></p>
					  	<p><span>*</span> 市： <el-input v-model="receiver_city" type="text" placeholder="输入市" size="small"></el-input></p>
					  	<p><span>*</span> 街道： <el-input v-model="receiver_region" type="text" placeholder="具体地址或门牌" size="small"></el-input></p>
                        <span>联系电话</span>
					  	<p><span>*</span> 联系方式： <el-input v-model="receiver_phone" type="text" placeholder="正确的联系方式" size="small"></el-input></p>
					  	<p><span>*</span> 收件人： <el-input v-model="receiver_name" type="text" placeholder="收件人" size="small"></el-input></p>
					  	<p><el-button type="primary" @click="save_edit">立即修改</el-button></p>
					  </div>
					</el-card>
			    </el-main>
			    
			    <el-footer>
			    	&copy; code_zl_shop商铺后台系统
			    </el-footer>
			  </el-container>
			
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					options: [{
			          value: '0',
			          label: '启用'
			        }, {
			          value: '1',
			          label: '禁用'
			        }, {
			          value: '2',
			          label: '超级无敌管理员'
			        }],
			        receiver_province:'',
			        receiver_city:'',
			        receiver_region:'',
			        receiver_phone:'',
			        receiver_name:'',
				},
				mounted:function(){
					var _that=this;
					//获取ID值
					var id=location.href.split('=')[1];
					//console.log("当前页面的网址是：",id);
					
					//发送AJAX请求到服务器获取当前ID的所有数据
					ajax({
						url:'/api/2020order_one.php?id='+id,
						success:function(data){
							//console.log(data); 
						_that.receiver_province=data.receiver_province;
						_that.receiver_city=data.receiver_city;
						_that.receiver_region=data.receiver_region;
						_that.receiver_phone=data.receiver_phone;
						_that.receiver_name=data.receiver_name;
						}
					});
				},
				//事件处理函数对象
				methods:{
					save_edit:function(){
						//获取修改以后的新数据
						var receiver_province=this.receiver_province;
						var receiver_city=this.receiver_city;
						var receiver_region=this.receiver_region;
						var receiver_phone=this.receiver_phone;
						var receiver_name=this.receiver_name;
						var id=location.href.split('=')[1];
						console.log("当前页面的网址是：",id);
						//构造AJAX发送数据到服务器更新数据
						ajax({
							type:'post',
							url:'/api/2020order_save_edit.php',
							data:`id=${id}&receiver_province=${receiver_province}&receiver_city=${receiver_city}&receiver_region=${receiver_region}&receiver_phone=${receiver_phone}&receiver_name=${receiver_name}`,
							success:function(data){
								if(data==1){
									alert('修改成功');
									location.href="2020order_list_1.html";
								}else{
									alert('修改失败');
								}
							}
						});
					}
				}
				
			});
		</script>
		
	</body>
</html>
