<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<!--<script src="/api/checkuser.php"></script>-->
		<script src="js/ajax.js"></script>
	</head>
	<body>
		<div id="app">
			
			<el-container id="main">
			    <el-header height="100px">
			    	<h1 style="font-size: small;">欢迎您 user</h1>
			    	<p style="font-size: small;">查看订单详情列表</p>
			    </el-header>
			    
			    <!--中间主体栏目-->
			    <el-main>
			    	<el-card class="box-card">
					  <div slot="header" class="clearfix">
					    <span>订单管理</span>
					  </div>
					  <div class="text item" id="goods_list">
					  	
						
						<!--数据表格-->
						<el-table :data="tableData" style="width: 100%">
						    <el-table-column label="订单详情id">
						      <template slot-scope="scope">
						        <span>{{scope.row.id}}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单号" width="200px">
						      <template slot-scope="scope">
						        <span>{{ scope.row.order_sn}}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="商品名">
						      <template slot-scope="scope">
						        <span>{{ scope.row.product_name }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="商品单价">
						      <template slot-scope="scope">
						        <span style="color:#f00;">{{ scope.row.product_price }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单状态">
						      <template slot-scope="scope">
						        <span v-if="scope.row.product_quantity==1">{{(scope.row.product_price*0.5).toFixed(2)}}</span>
						        <span v-else>不可使用</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="总价格">
						      <template slot-scope="scope">
						        <span>{{ scope.row.real_amount }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="购买数量">
						      <template slot-scope="scope">
						        <span>{{ scope.row.product_quantity }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单总价">
						      <template slot-scope="scope">
						        <span>{{ scope.row.product_quantity*scope.row.product_price }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="管理">
						      <template slot-scope="scope">
						        <i class="el-icon-edit" @click="edit(scope.row.id)"></i>
						        <!--<i class="el-icon-delete" @click="del(scope.row.id)"></i>-->
						        <!--<i class="" @click="confirm(scope.row.id)" v-if="scope.row.status==0">确认收货</i>-->
						      </template>
						    </el-table-column>
						</el-table>
					  	
					  	<!--分页-->
					  	<el-pagination background layout="prev, pager, next" :page-count="pagecount" @current-change="changepage" :current-page.sync="curpage"></el-pagination>
					  </div>
					</el-card>
			    </el-main>
			    
			    <el-footer>
			    	&copy;code_zl_shop商铺后台系统
			    </el-footer>
			  </el-container>
			
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					options: [{
			          value: 0,
			          label: '所有分类'
			        }],
			        cateid: '',
			        keywords:'',
			        tableData: [],
			        pagecount:1,
			        curpage:1,
				},
				//编写生命周期函数，渲染初始化后去读取数据
				mounted:function(){
					this.showpage(1); //显示出所有的器材列表
					
				
				},
				//自定义函数
				methods:{
					//改变页码时重新显示数据
					changepage:function(page){
						this.showpage(page);
					},
					
					
					//查看详情不需要修改信息
//					edit:function(id){
//						location.href="2020order_edit_user.html?id="+code;
//					},
					//删除分类的事件处理函数
					del:function(id){
						var _that=this;
						//构造AJAX向服务器发起删除主动，传ID值
						var id=location.href.split('=')[1];
						ajax({
							url:'/api/equ_del.php?id='+id,
							success:function(data){
								//将执行结果显示出来
								if(data.errcode==0){
									alert('删除成功');
									_that.showpage();
								}else{
									alert('删除失败');
								}
							}
						});
					},
					
					
					//根据页码显示当前页的数据
					showpage:function(page){
						var _that=this;
						var cateid=this.cateid;
						var keywords=this.keywords;
						var id=location.href.split('=')[1];
						ajax({
							url:'/api/2020order_list_1_1.php?page='+page+'&keywords='+keywords+'&id='+id,
							success:function(data){
								//console.log(data);
								_that.pagecount=data.pop(); //将数据携带的总页数弹出，并在页面上显示出页码表
								
								_that.tableData=data; //获取到数据以后将原有的数据替换掉
							}
						});
					},
					//点击搜索时执行的函数
					search:function(){
						this.showpage(1);
						this.curpage=1; //搜索数据渲染完成后，将页面切换到第一页
					}
				}
			});
		</script>
		
	</body>
</html>
