<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="js/vue.js"></script>
		<script src="js/index.js"></script>
		<link rel="stylesheet" href="css/main.css" type="text/css" />
		<!--<script src="/api/checkuser.php"></script>-->
		<script src="js/ajax.js"></script>
	</head>
	<body>
		<div id="app">
			
			<el-container id="main">
			    <el-header height="100px">
			    	<h1 style="font-size: small;">欢迎您 user</h1>
			    	<p style="font-size: small;">查看用户订单列表</p>
			    	<p style="font-size: small;margin-left: 90%;" @click="look_com()">商品评论</p>
			    </el-header>
			    
			    <!--中间主体栏目-->
			    <el-main>
			    	<el-card class="box-card">
					  <div slot="header" class="clearfix">
					    <span>订单管理</span>
					  </div>
					  <div class="text item" id="goods_list">
					  	<!--搜索框-->
					  	<div id="searchform">
					  		
							<span>内容：</span>
							<el-input v-model="keywords" placeholder="请输入商品相关信息或单号" size="mini"></el-input>
							<el-button type="success" size="mini" @click="search">搜索</el-button>
							<el-button type="success" size="mini" @click="">用户功能查看购买过的所有商品</el-button>
					  	</div>
						
						<!--数据表格-->
						<el-table :data="tableData" style="width: 100%">
						    <el-table-column label="订单id">
						      <template slot-scope="scope">
						        <span>{{scope.row.id}}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单号" width="200px">
						      <template slot-scope="scope">
						        <span>{{ scope.row.order_sn}}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="收件人">
						      <template slot-scope="scope">
						        <span>{{ scope.row.receiver_name }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="收件地址">
						      <template slot-scope="scope">
						        <span>{{ scope.row.receiver_detail_address }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单价格">
						      <template slot-scope="scope">
						        <span style="color:#f00;">{{ scope.row.total_amount }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="订单状态">
						      <template slot-scope="scope">
						        <span v-if="scope.row.serv_sta==null">未接单</span>
						        <span v-if="scope.row.serv_sta==0">配送中</span>
						        <span v-if="scope.row.status==1 && scope.row.deli_sta==1 && scope.row.serv_sta==1">完成收货</span>
						        <span v-if="scope.row.status==1 && scope.row.deli_sta==2 && scope.row.serv_sta==1">退单中</span>
						        <span v-if="scope.row.status==1 && scope.row.deli_sta==3 && scope.row.serv_sta==1">退单失败</span>
						        <span v-if="scope.row.status==1 && scope.row.deli_sta==4 && scope.row.serv_sta==1">退单成功</span>
						        <!--<span v-if>订单异常</span>-->
						      </template>
						    </el-table-column>
						    <el-table-column label="支付价格">
						      <template slot-scope="scope">
						        <span>{{ scope.row.pay_amount }}</span>
						      </template>
						    </el-table-column>
						    <el-table-column label="联系电话">
						      <template slot-scope="scope">
						        <span>{{ scope.row.receiver_phone }}</span>
						      </template>
						    </el-table-column>
						    </el-table-column>
						    <el-table-column label="管理">
						      <template slot-scope="scope">
						        <i class="el-icon-edit" v-if="scope.row.status==0" @click="edit(scope.row.id)">改</i>
						        <el-button size="mini" @click="checko(scope.row.id)">查看订单详情</el-button><br />
<!--管理员不可以删除用户完成的订单  <i v-if="(scope.row.status==1 && scope.row.deli_sta==1 && scope.row.serv_sta==1) || (scope.row.status==1 && scope.row.deli_sta==4 && scope.row.serv_sta==1)" class="el-icon-delete" @click="del(scope.row.id)">删</i>-->
						        <i v-if="scope.row.serv_sta==1 && scope.row.deli_sta==2" @click="agr_re_or(scope.row.id,scope.row.serv_sta)">同意退货</i>
						        <i v-if="scope.row.serv_sta==1 && scope.row.deli_sta==2" @click="ref_re_or(scope.row.id,scope.row.serv_sta)">拒绝退货</i>
						        <i v-if="(scope.row.serv_sta==2 && scope.row.deli_sta==4) || (scope.row.serv_sta==4 && scope.row.deli_sta==4)" @click="chk_re_or(scope.row.de_id,scope.row.deli_sta)">完成退货</i>
						        <i v-if="scope.row.status==''" >无效订单</i>				        
						      </template>
						    </el-table-column>
						</el-table>
					  	
					  	<!--分页-->
					  	<el-pagination background layout="prev, pager, next" :page-count="pagecount" @current-change="changepage" :current-page.sync="curpage"></el-pagination>
					  </div>
					</el-card>
			    </el-main>
			    
			    <el-footer>
			    	&copy;code_zl_shop商铺后台系统
			    </el-footer>
			  </el-container>
			
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					options: [{
			          value: 0,
			          label: '所有分类'
			        }],
			        cateid: '',
			        keywords:'',
			        tableData: [],
			        pagecount:1,
			        curpage:1,
				},
				//编写生命周期函数，渲染初始化后去读取数据
				mounted:function(){
					 //显示出所有的器材列表
					this.showpage(1);
					
				},
				//自定义函数
				methods:{
					//设置cookie，给用户使用的方法
//					setcook:function(){
//						var _that=this;
//					//获取ID值
//					var id=location.href.split('=')[1];
//					console.log("当前页面的网址是：",id);
//					
//						//发送AJAX请求到服务器获取当前ID的所有数据
//					ajax({
//						url:'/api/2020order_chklo.php?id='+id,
//						success:function(data){
//								//将执行结果显示出来
//								if(data==1){
//									alert('确认成功');
////									location.href="2020order_edit_1.html";
//									_that.showpage(1);
//								}else{
//									alert('订单状态异常');
//								}
//							}
//						
//					});
//					},
					
					//改变页码时重新显示数据
					changepage:function(page){
						this.showpage(page);
					},
					
					checko:function(id){
						location.href="2020order_list_1_1.html?id="+id;
					},
					seeall:function(){
						location.href="2020order_list.html";
					},
					
					agr_re_or:function(id,serv_sta){
						var _that=this;
						var r = confirm("同意退回该订单");
						if(r==true){
							//构造AJAX向服务器发起删除主动，传ID值
						
						ajax({
							url:'/api/2020order_list_1_re_agr.php?id='+id+'&serv_sta='+serv_sta,
							success:function(data){
								//将执行结果显示出来
								if(data.errcode==0){
                                //可在后台中导出提示，是代码易于阅读
                                    var id=location.href.split('=')[1];
									alert('同意退货成功');
									location.href="2020order_list_1_admin.html?id="+id;
//									_that.showpage();
								}else{
									alert('订单异常，同意退货失败');
								}
							}
						})
					}
					},
					
					ref_re_or:function(id,serv_sta){
						var _that=this;
						var r = confirm("确定拒绝用户退货");
						if(r==true){
							//构造AJAX向服务器发起删除主动，传ID值
						
						ajax({
							url:'/api/2020order_list_1_re_ref.php?id='+id+'&serv_sta='+serv_sta,
							success:function(data){
								//将执行结果显示出来
								if(data.errcode==0){
                                //可在后台中导出提示，是代码易于阅读
                                    var id1=location.href.split('=')[1];
									alert('拒绝退货成功');
									location.href="2020order_list_1_admin.html?id="+id1;
//									_that.showpage();
								}else{
									alert('订单异常，拒绝退货失败');
								}
							}
						})
					}
					},
					
					chk_re_or:function(de_id,deli_sta){
						var _that=this;
						var r = confirm("确定完成退货");
						if(r==true){
							//构造AJAX向服务器发起删除主动，传ID值
						
						ajax({
							url:'/api/2020order_list_1_re_comp.php?id='+de_id+'&deli_sta='+deli_sta,
							success:function(data){
								//将执行结果显示出来
								if(data.errcode==0){
                                //可在后台中导出提示，是代码易于阅读
                                    var id=location.href.split('=')[1];
									alert('已完成退货');
									location.href="2020order_list_1_admin.html?id="+id;
//									_that.showpage();
								}else{
									alert('订单异常，完成退货失败');
								}
							}
						})
					}
					},
					//查看评论暂时无用
					look_com:function(){
						//var id=location.href.split('=')[1];
						location.href="2020comment_all.html?id="+id;
					},
					
					edit:function(id){
						location.href="2020order_edit_1.html?id="+id;
					},
					
					comment_or:function(id){
						location.href="2020order_comment_1.html?id="+id;
					},
					look_com:function(){
						location.href="2020order_comment_all.html";
					},
					//删除分类的事件处理函数
					del:function(id){
						var _that=this;
						var r = confirm("亲，您确定删除该订单吗");
						if(r==true){
						//构造AJAX向服务器发起删除主动，传ID值
//						var id=location.href.split('=')[1];
						ajax({
							url:'/api/2020order_user_del.php?id='+id,
							success:function(data){
								//将执行结果显示出来
								if(data.errcode==0){
									alert('删除成功');
//									location.href="2020order_edit_1.html";
									_that.showpage();
								}else{
									alert('删除失败');
								}
							  }
						});
						}
					},
					
					//根据页码显示当前页的数据
					showpage:function(page){
						var _that=this;
						var cateid=this.cateid;
						var keywords=this.keywords;
						var id=5;//取session中的用户id
						var id=location.href.split('=')[1];
						ajax({
							url:'/api/2020order_list_1_admin.php?page='+page+'&keywords='+keywords+'&id='+id,
							success:function(data){
								//console.log(data);
								_that.pagecount=data.pop(); //将数据携带的总页数弹出，并在页面上显示出页码表
								
								_that.tableData=data; //获取到数据以后将原有的数据替换掉
							}
						});
					},
					//点击搜索时执行的函数
					search:function(){
						this.showpage(1);
						this.curpage=1; //搜索数据渲染完成后，将页面切换到第一页
					}
				}
			});
		</script>
		
	</body>
</html>
